canvas {
	overflow-x: hidden;
	outline: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	color: #000000;
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

p{
	font-size: 150%;
	font-weight: normal;
	font-style: none;
	color: #FFFFFF;
	font-family: 'Josefin Slab', sans-serif;
}

li{
	font-size: 150%;
	font-weight: normal;
	font-style: none;
	color: #FFFFFF;
	font-family: 'Josefin Slab', sans-serif;
}

ul{
	font-size: 150%;
	font-weight: normal;
	font-style: none;
	color: #FFFFFF;
	font-family: 'Josefin Slab', sans-serif;
}

h1{
  width: 100%;
  color: #FFFFFF;
  font-size: 150%;
}

h2{
  width: 500px;
  color: #FFA0A7;
	/*
  margin-left: 450px;
	margin-right: 450px;
	*/
	margin: 0 auto;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 215%;
}

a.class1 {
  text-decoration: none;
  font-decoration: none;
  color: #FFA0A7;
  font-family: 'Josefin Slab', sans-serif;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
}

a.class1:hover{
  color: #FFA0A7;
}

div.wrapper{
    margin-right: 450px;
    margin-left: 450px;
}

div.wrapper2{
	margin-right: 350px;
	margin-left: 350px;
}

div.center{
	text-align: center;
}

div.gallery {
    margin: 20px;
    float: left;
    width: 200px;
  text-decoration: none;
  font-decoration: none;
}

div.gallery:hover {
    text-decoration: none;
  font-decoration: none;
}

div.gallery img {
    width: 100%;
    height: auto;
  text-decoration: none;
  font-decoration: none;
}

div.desc {
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Josefin Slab', sans-serif;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
  text-decoration: none;
  font-decoration: none;
}

div.desc:hover {
	color: #FFA0A7;
}
