canvas {
	outline: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	color: #000000;
}

p{

	margin: 100px;
	font-size: 5em;
	font-weight: normal;
	font-style: none;
	color: #FFFFFF;
	font-family: 'Josefin Slab', sans-serif;
}
/*
a{
  width: 50%;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 50%;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  /* ...and now for the proper property */
  transition: 1s;
}

a:hover{
  color: #E0E0E0;
}
*/

.wrapper{
    margin-right: 150px;
    margin-left: 150px;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    color: #FFFFFF 
}

div.desc:hover {
	
}
